<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/lpc/nct6771f/control/0/plot" value="false" />
    <add key="/lpc/nct6771f/control/1/plot" value="false" />
    <add key="/lpc/nct6771f/control/2/plot" value="false" />
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/atigpu/0/temperature/0/plot" value="false" />
    <add key="/atigpu/0/control/0/plot" value="false" />
    <add key="/atigpu/0/clock/0/plot" value="false" />
    <add key="/atigpu/0/clock/1/plot" value="false" />
    <add key="/atigpu/0/voltage/0/plot" value="false" />
    <add key="/atigpu/0/load/0/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/data/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/data/0/plot" value="false" />
    <add key="/hdd/2/temperature/0/plot" value="false" />
    <add key="/hdd/4/load/0/plot" value="false" />
    <add key="/hdd/5/load/0/plot" value="false" />
    <add key="/hdd/6/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="725" />
    <add key="mainForm.Location.Y" value="179" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/lpc/nct6771f/voltage/0/plot" value="false" />
    <add key="/lpc/nct6771f/voltage/1/plot" value="false" />
    <add key="/lpc/nct6771f/voltage/2/plot" value="false" />
    <add key="/lpc/nct6771f/voltage/3/plot" value="false" />
    <add key="/lpc/nct6771f/voltage/4/plot" value="false" />
    <add key="/lpc/nct6771f/voltage/5/plot" value="false" />
    <add key="/lpc/nct6771f/voltage/6/plot" value="false" />
    <add key="/lpc/nct6771f/voltage/7/plot" value="false" />
    <add key="/lpc/nct6771f/temperature/0/plot" value="false" />
    <add key="/lpc/nct6771f/temperature/1/plot" value="false" />
    <add key="/lpc/nct6771f/temperature/3/plot" value="false" />
    <add key="/lpc/nct6771f/fan/1/plot" value="false" />
    <add key="/lpc/nct6771f/fan/2/plot" value="false" />
    <add key="/hdd/0/temperature/0/values" value="" />
    <add key="/hdd/0/data/0/values" value="" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/hdd/1/temperature/0/values" value="" />
    <add key="/hdd/1/data/0/values" value="" />
    <add key="/hdd/2/temperature/0/values" value="" />
    <add key="/hdd/4/load/0/values" value="" />
    <add key="/hdd/5/load/0/values" value="" />
    <add key="/hdd/6/load/0/values" value="" />
    <add key="/atigpu/0/temperature/0/values" value="H4sIAAAAAAAEAPP61pN/i+u6B2NDkRPX/GQmBiBgZCh0indJgrAbCpxM9ifAxefKIMSlb0LVNxQ6ffNJhKt5aoFQs9gYYWaR1BEWGPvRl0S4GgCliBcGhAAAAA==" />
    <add key="/atigpu/0/fan/0/values" value="" />
    <add key="/atigpu/0/clock/0/values" value="H4sIAAAAAAAEALuo15d/i+u6B8OBk84fNJOZGMBA1lnP/Jo4jA0A2PztgiQAAAA=" />
    <add key="/atigpu/0/clock/1/values" value="H4sIAAAAAAAEALuo15d/i+u6B8MBNRe5REspBhAAsgG057iwGAAAAA==" />
    <add key="/atigpu/0/voltage/0/values" value="H4sIAAAAAAAEALuo15d/i+u6BwNDg71coqUUAxg02AMAQlYJcRgAAAA=" />
    <add key="/atigpu/0/load/0/values" value="H4sIAAAAAAAEALuo15d/i+u6BwMDg/0HzWQmBgiwN5NNgrEZcqIT4eLBkXA2g4Z6CpR9wF7UFybuYN95GqZ3gf35ILg59rwOCDOLGBFs1YkINQC4BwHXkAAAAA==" />
    <add key="/atigpu/0/control/0/values" value="H4sIAAAAAAAEAFv7oDf/Ftd1DwYGJ6fPmslMDGDg4DS7e70AjP32YyJU3N5pgn8SXA2bM4INAHc1A4hIAAAA" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAHvxXaXgFtd1D6YLG534pZOYGIDgTudGp2vBEPaehI1OiytSwOzTThudDk9PALPlLTc6cQtC1Fg4b3TqXQphn/Tf6LTdLxnMfhG50Un7XCKYLRO+0anuNESNk/VGJ1URiHjOiw1OahMg4jtF1jkBANFqvcWQAAAA" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAHvxXaXgFtd1jx/7HzjwSycxMQCBX/oDh2vBEHaQ8QOHxRUpYHYV7wOHw9MTwGwHxgcO3IIQNSx8Dxx6l0LYz2QfOGz3SwazN2g9cNA+lwhma6g/cKg7DVHzhfmBg6oIRNxh9n0HtQkQ8RaOOw4At6bk3JAAAAA=" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAHvxXaXgFtd1jwNRCfb80klMDEAgoJBsfy0Ywv6wP8V+cUUKmL3hXar94ekJYHZDQJo9tyBETcKrVPvepRB2QHaq/Xa/ZDCbgTXVXvtcIpjtoJhqX3caouaBVZq9qghEvKEh015tAkTcgLvZHgCJHGAxkAAAAA==" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAGvM786/xXXdg+kTp1Pg/GQmBhD4sdwxNDsJws5Y5ngoKwHC/rDAkdELKq6xwDHuJlT9hs2OG30SIewdCx15XkPZHSsdTzbCzDzgyO6aCNebcxVqTsVZx4azUPEHqx0BtR2HMZAAAAA=" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAHP91ZV/i+u6h9NXbadekRQmBhA40O8Ymp0EYTcscjyUlQBldzoyekHFHeY4xt1MhrK3Om70SYTqjXLkeQ1lJ7Q5nmyEqnkwyZHdNRHOzrmaBDez4SxUfEGPIwATMA8JkAAAAA==" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAGvM786/xXXd49Xah46B85OZGEDgQJRjaHYShL1gqeOhrAQI22GrI6MXVLwh1zHuJlR9Q6fjRp9ECDuhzZHnNZTNsN7xZCNUjcJpR3ZXhJqcq0lw8YazUHGFBkcA/IYjDJAAAAA=" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEAGvM786/xXXdwyTrh2Pg/GQmBhBYsM8xNDsJwmZY73goKwHCPnDQkdELKt6w2zHuJlS9whPHjT6JUPYmR57XUPaCpY4nG6FqGt46srsi1ORchZqjcNqx4Wwi3BwAKFNOsJAAAAA=" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAGvM786/xXXdY9cxPqfA+clMDCCg8MQxNDsJwm5Y5HgoKwHCdmh2ZPSCiitscoy7CVX/YLXjRp9ECJvhoSPPayhb4bTjyUaomoQdjuyuUHGHrY45V6HmCHA7NZyFii/Y5wgAIrHIKZAAAAA=" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEAGvM786/xXXdg6GhxylwfjITAxiUO4VmJ0HZdU6HshLgbEYvmHizU9xNmPoqp40+iVB2kdPVnKMsMDa7K0y8zMn5D0xvidPKZTDxHCcAPfq6vYQAAAA=" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEAGvM786/xXXdg4Gh2SlwfjITAxiUOYVmJ0HZtU4ykxKg7FKnk55JcDU2m2Dqq502+iRC2VlOPK9h7Dyn0hXJcHa0HEKN8x+YOQVOK5fBxDOdAE5tMjeQAAAA" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEAGvM786/xXXdg4GhzSn5WDITAxhUODm7JEHYDY1OMpMSoOL1Tic9oeIM1U42m2DqG5w2+iRC2flOlwRhagqd1jfC1JQ7LdOCqSly+vEepqbSaeUymHiBEwBHCIYfkAAAAA==" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEAGvM786/xXXdg4Ghzin5WDITAxjkOzm7JEHZOU4u0xPg7IVw8QInm00w9XlOG30Soex0p0uCMDUZTusbYWoyna7pwtSkOZ14A1OT5bRyGUw83gkAEYhKdJAAAAA=" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEAGvM786/xXXdg6Ghxyn5WDITAxjUOjm7JEHYDU1OLtMToOJNTgth4gzNTjabkuHiG30Soexip0uCMDWlTusbYWoqnK7pJsLZJ97A1FQ7rVwGEy9wAgAgvBhTkAAAAA==" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEADNf0ZN/i+u6x2qGE07mx5KZGIAgCsi2cEkCs2OA7NwZCWB2JJCd4IwQ592EUP/FJxHMjgay1YUQanY2ItSs0kuEs6+8RqipXobQCwAIvnzwkAAAAA==" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEADu/tzv/Ftd1jzUfLF15jyUzMQCB0wF+1wyXJDA7zsHPNWNGApgd5GDq2uIMEY9YYOcqvQmiPiTBwlXQNxHMjmY44fJEEKLGyYDPdXMjRI3zAyHXdXoQNdYbGF1fvk6Cix9ZhtALAL7giQSQAAAA" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEADPi6cm/xXXdY62ArevRo8lMDEDgdIDftdIlCcxONoh0TZ6RAGYHOZi6VjtDxMOA6mU2QdSHfLB0lfdNBLOjGU643BCEqLF1YHZd2whR41wg4rpID6LGegOj66PXEDUBDPquS5Yh9AIAP+vOeJAAAAA=" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEAJON6sm/xXXdY80HS9dfR5OZGIDA6QC/a7FLEpidtCDctXJGApgd5GDqGuIMEQ8TsHW13ARRH9Zg7XrPJxHMjmY44SIpBFFj68DsuqwRamaAoOtuPYgaKwUG15OvIWoCGPRdS5ch9AIASs+dWZAAAAA=" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEADNf0ZN/i+u6x6oPlq7mx5KZGIDA6QC/q4VLEpidJBDmmjsjAcwOcjB1TXCGiIcmWLjyboKoDwGyv/gkgtnRDCdc1IUgamwdmF13NkLUBDDou67Sg6ix3sDoeuU1RI3zAyHX6mUIvQB1BXLmkAAAAA==" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEADNf0ZN/i+u6B//zJY7mx5KZGIBA/kyKo4VLEpj9aWG2Y+6MBDA7eUG+Y4IzRPyLQZEj7yaI+pt3yhy/+CSC2bf+RzuqC0HUPP2U7bizEaJm5Z4ax1V6EDU2BUWOV15D1DhebnWsXgYRtxDJcgQAaJjk35AAAAA=" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEADNf0ZN/i+u6h6F9paP5sWQmBiD4kSnmaOGSBGY7G8k65s5IALNPT1F0THCGiGuyqTjyboKo79XXdPzikwhm933mc1QXgqix3yPruLMRouZIu57jKj2ImlVzVRyvvIaoSfewdaxeBhGfrSbjCAAuAfuekAAAAA==" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEADNf0ZN/i+u6h8velzbmx5KZGIDAgeOutYVLEph9awqLde6MBDAbBBKcIeIxu9mseTdB1D9cyGH9xScRzL5sz2itLpQEV7+zEaLm6VsO61V6EDXH3rJYX3kNUVPdw2RdvSwRrh4AjTe9FZAAAAA=" />
    <add key="/lpc/nct6771f/voltage/0/values" value="H4sIAAAAAAAEAPOaoVxwi+u6x96SyfYmTklMDEAwRaLF/m4whP1nZaH9+pIUMPvsmR771bMTwOwPy9vsmQUhahxM4+y75kHYJsbF9vN1ksFsRoYG+5VfEsFsI44ee77lEDX5Qs32xtaJcLbeBIh4yONUewAc21TJkAAAAA==" />
    <add key="/lpc/nct6771f/voltage/1/values" value="H4sIAAAAAAAEAPOaoVxwi+u6xz0VN3sTpyQmBiD4sNzN/m4wgr2+JAXMBqlZPTsBLn71QicnjM23PAmuxtg6Ec7Wm4AwBwDl+Si9bAAAAA==" />
    <add key="/lpc/nct6771f/voltage/2/values" value="H4sIAAAAAAAEAPOaoVxwi+u6x1qZKAfBaUdYGIAAxF5fksIEYqvcjnRYPTuBCSauc0edHcZe+SURroZveRJcTeLpw3BzAL36J71gAAAA" />
    <add key="/lpc/nct6771f/voltage/3/values" value="H4sIAAAAAAAEAPOaoVxwi+u6x1qZKIf1Ly2lGIAAxAYAyLKlhRgAAAA=" />
    <add key="/lpc/nct6771f/voltage/4/values" value="H4sIAAAAAAAEAPOaoVxwi+u6x7MLi+wPcGmyMwABiL16dgITiJ0vtNieWTAJzu6aB2GD1MzXSYaLr/ySCGfzLUeoMbaGiBcAxfUmIMQBOvwxQHgAAAA=" />
    <add key="/lpc/nct6771f/voltage/5/values" value="H4sIAAAAAAAEAPOaoVxwi+u6x7LZLvbrX1pKMQABiA0A/3/VHRgAAAA=" />
    <add key="/lpc/nct6771f/voltage/6/values" value="H4sIAAAAAAAEAPOaoVxwi+u6h495p/36l5ZSDEAAYgMAcgapbRgAAAA=" />
    <add key="/lpc/nct6771f/voltage/7/values" value="H4sIAAAAAAAEAPOaoVxwi+u6x5e/IQ7rX1pKMQABiA0Ac5j4bhgAAAA=" />
    <add key="/lpc/nct6771f/voltage/8/values" value="" />
    <add key="/lpc/nct6771f/temperature/0/values" value="H4sIAAAAAAAEAPOaoVxwi+u6BwNDh5OJUxITAwgcaHS6GwxlOzQ4rS9JgbAbGp1Wz06AsBkanZgFoWoYWpy65kHZDZVO83WSoeIVTiu/JELZdU58y2Fq6p2MrWHiVU56E2DiZU4AE6XMM5AAAAA=" />
    <add key="/lpc/nct6771f/temperature/1/values" value="H4sIAAAAAAAEAPOaoVxwi+u6BwNDhZOJUxITAxiUO90NhrFLndaXpMDZq2cnQNklTsyCSXB21zwYu9hpvk4ylF3otPJLIoTdkOfEtxymJtfJ2BoqzpDjpDchCc4GALrTeuOQAAAA" />
    <add key="/lpc/nct6771f/temperature/2/values" value="" />
    <add key="/lpc/nct6771f/temperature/3/values" value="H4sIAAAAAAAEAPOaoVxwi+u6BwODhJOJUxITAxhIOt0NhrFlnOYFl4rC2AC/bSWFMAAAAA==" />
    <add key="/lpc/nct6771f/fan/0/values" value="H4sIAAAAAAAEAPOaoVxwi+u6BwMQrH9pKcUABQCcv74SGAAAAA==" />
    <add key="/lpc/nct6771f/fan/1/values" value="H4sIAAAAAAAEAPOaoVxwi+u6BwNDtYuJUxITAwgo1LncDUaw15ekQNgHml3WrTnEAmN3zUOoma+TDGEvaHBZ+SURLs63HKrGoMnF2Boq/qHZRW9CElw9AB983leEAAAA" />
    <add key="/lpc/nct6771f/fan/2/values" value="H4sIAAAAAAAEAPOaoVxwi+u6B8MCHhcTpyQmBhDYwO1yNxjKnsDrsr4kBcIu4HdZPTsBwj7A5cIsmARnd81DqJ+vkww3Z+WXRDibbzlUTQOfi7F1Ilyv3gSo+AVOFwBeWnoMkAAAAA==" />
    <add key="/lpc/nct6771f/fan/3/values" value="H4sIAAAAAAAEAPOaoVxwi+u6BwMQrH9pKcUABQCcv74SGAAAAA==" />
    <add key="/lpc/nct6771f/control/0/values" value="H4sIAAAAAAAEAPOaoVxwi+u6x6SJHx3Xv7SUYgACEBsAZFI27xgAAAA=" />
    <add key="/lpc/nct6771f/control/1/values" value="H4sIAAAAAAAEAPOaoVxwi+u6BwPDAsf1Ly2lGMBggSMAZ61ukxgAAAA=" />
    <add key="/lpc/nct6771f/control/2/values" value="H4sIAAAAAAAEAPOaoVxwi+u6x6SJHx3Xv7SUYgACEBsAZFI27xgAAAA=" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>