:root {
    --bs-secondary-color: #6c757d; /* Replace with your custom color */
}

body {
  font-size: .875rem;
}

pre {
    color: inherit;
}

.nav-item .svg-inline--fa {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
  margin-right: 0.5em;
}

/*
 * Sidebar
 */

.sidebar {
    width: 180px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-show {
    left:0;
}

/*
 * Navbar
 */

.navbar-brand {
    width: 180px;
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-left: .75rem;
    font-size: 1rem;
    background-color: #e0e0e0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
    font-weight: bold;
}

.rainbow {
    background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.powerprice {
    display:none;
}

#version {
    font-size: .6rem;
    -webkit-text-fill-color: #fff;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.navbar div {
    padding-right: 0.5em
}


.navbar select {
    background-color: #343a40 !important;
    color: #f8f9fa !important;
    border: none;
}

.navbar a#updatenow {
    line-height: 0.8;
    margin-top: 2px;
    margin-bottom: 3px;
    display: block;
}

.navbar #rigstat h6 {
    min-width: 180px;
}

.navbar #rigtime h6 {
    min-width: 82px;
}

.h-selector {
    cursor: pointer;
}

.h-selector:hover {
    color: #212529;
    background-color: rgba(0,0,0,.075);
}


.navbar div#rigstat, .navbar div#rigpower, .navbar div#updatemsg, .navbar div#rigrates, .navbar div#rigtime, .hide-on-mobile {
    display: none;
}

@media screen and (min-width: 440px) {
    .navbar div#rigstat {
        display: block;
    }
}

@media screen and (min-width: 600px) {
    .navbar div#rigpower {
        display: block;
    }

    .hide-on-mobile {
        display:inline;
    }
}

@media screen and (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 220px;
    }

    .navbar div#rigtime {
        display: block;
    }

    div#menubutton {
        display:none;
    }
}

@media screen and (min-width: 1024px) {
    .navbar div#rigrates {
        display: block;
    }
}

@media screen and (min-width: 1152px) {
    .navbar div#updatemsg {
        display: block;
    }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Cards
*/

.card-deck {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.card-deck .card {
    margin-bottom: 15px
}

@media (min-width:576px) {
    .card-deck {
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        margin-right: -15px;
        margin-left: -15px
    }

    .card-deck .card {
        display: -ms-flexbox;
        display: flex;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-right: 15px;
        margin-bottom: 0;
        margin-left: 15px
    }
}

/*
 * Content
 */

[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
}


/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

/*
 * Editable
 */

.editable-click, a.editable-click, a.editable-click:hover {
    color:inherit;
    border-bottom: none;
}

.editable-empty, .editable-empty:hover, .editable-empty:focus {
    font-style: italic;
    color: inherit;
    opacity: 0.1;
}

.Running, .Benchmarking, tr.Running td, tr.Benchmarking td {
    background-color: rgb(127,191,144) !important;
}

.Offline, tr.Offline td {
    background-color: rgb(213,142,176) !important;
}

.Paused, .Waiting, tr.Paused td, tr.Waiting td {
    background-color: rgb(247,252,168) !important;
}


[data-bs-theme=dark] .Running, [data-bs-theme=dark] .Benchmarking, [data-bs-theme=dark] tr.Running td, [data-bs-theme=dark] tr.Benchmarking td {
    background-color: rgb(80, 121, 91) !important;
}

[data-bs-theme=dark] .Offline, [data-bs-theme=dark] tr.Offline td {
    background-color: rgb(189, 78, 78) !important;
}

[data-bs-theme=dark] .Paused, [data-bs-theme=dark] .Waiting, [data-bs-theme=dark] tr.Paused td, [data-bs-theme=dark] tr.Waiting td {
    background-color: rgb(145, 148, 101) !important;
}

[data-bs-theme=dark] .sidebar .nav-link {
    color: #AAA;
}

[data-bs-theme=dark] .h-selector:hover {
    color: #fff;
    background-color: rgba(255,255,255,.075);
}
