body {
    margin: 0px auto;
    padding: 0px;
    text-align: center;
    width: 100%;
    font-family: "Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
    background-color: lightgrey;
}

#header {
    width: 100%;
    margin: 0;
    padding: 0 1em 0 1em;
    height: 4em;
    line-height: 4em;
    background-color:whitesmoke;
}


#header h1 {
    display:block;
    float:left;
    text-align: left;
    width: 320px;
    font-size: 2em;
    margin: 0;
}

#version {
    font-size:0.4em;
    font-weight:normal;
    color:#222;
}

#menu {
    display: block;
    float: right;
    width: auto;
    margin: 0;
    padding-right: 1em;
    text-align:center;
}

#menu ul {
    display:block;
    float:right;
    margin:0;
    padding:0;
}

#menu ul li {
    display: block;
    float:left;
    margin-right: 1em;
    font-size: 1em;
    color: #084B8A;
    font-weight: bold;
    cursor: pointer;
}

.minerblock {
    clear: both;
    margin-top: 4em;
    width: 90%;
    margin-left: 5%;
    padding: 1em;
    box-sizing: border-box;
    border: 1px solid #084B8A;
    border-radius: 1em;
    background: #FFFFFF;
    color: #084B8A;
}

.minerblock h1 {
    font-size: 2em;
}

.minerblock p {
    font-size: 1em;
}

.table{
	display:table;			/* Defines a Table */
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	border-bottom:2px solid #dddddd;
	color:#222;
	margin:10px 0;
    width:100%;
}
.table-head{
	 display: table-header-group; /* Defines a table header group */
}
    .table-head .column { /* Column inside the table-head */
        background-color: lightblue;
        color: #222;
        font-weight:bold;
        border-right: 1px solid #5d5d5d;
        border-radius: 10px 10px 0 0;
        border-bottom: 1px solid #5d5d5d;
    }
.table-head .column:hover{		/* Column hover inside the table-head */
	background-color: mediumspringgreen;
}
.row{
	display:table-row;		/* Defines a table row */
}
.row .column:nth-child(1){		/* First column in a row */
	border-left:1px solid #eeeeee;
}
.row:last-child .column{		/* column in a last row */
	border-bottom:none;
}
.column{
	display:table-cell;		/* Defines a table cell */
	padding:10px 20px;
	border-bottom:1px solid #eeeeee;
	border-right:1px solid #eeeeee;
	line-height:1.8em;
}
.column:hover{
	background:#f9f9f9;
}

/* Responsive table */
@media all and (max-width: 800px) {

    #menu {
        float:left;
    }

    .table,
    .row,
    .column,
    .column:before {
        display: block; /* Converts a table, table row, table column and table column:before into a block element */
    }

    .table,
    .row .column:last-child {
        border-bottom: none;
    }

    .table-head {
        position: absolute; /* Hides table head but not using display none */
        top: -1000em;
        left: -1000em;
    }

    .row {
        border: 1px solid #eeeeee;
        border-top: 2px solid #dddddd;
        border-bottom: 2px solid #dddddd;
        margin: 20px 0;
    }

    .row .column:nth-child(1) { /* first column of the row */
        border-left: none;
    }

    .row .column:last-child { /* last column of the row */
        border-right: none;
    }

    .row:last-child .column,
    .column { /* Column in the last row and column */
        border-bottom: 1px solid #eeeeee;
    }

    .column:before { /* prints the value of data-label attribute before the column data */
        font-weight: bold;
        padding-right: 20px;
        font-size: 12px;
        content: " "attr(data-label)" //"; /* call the attribute value of data-label and adds a string // */
    }
}

.minerblock table {
    width:100%;
}

.minerblock table tr td {
    text-align:center;
}

#contact input[type="text"] {
    width: 250px;
    height: 35px;
    padding-left: 10px;
    float: left;
    margin-left: 80px;
    border: none;
}

#contact textarea {
    float: left;
    width: 250px;
    height: 35px;
    margin-left: 20px;
    border: none;
    padding-left: 10px;
    padding-top: 10px;
}

#contact input[type="submit"] {
    float: left;
    margin-left: 20px;
    height: 35px;
    width: 100px;
    background: none;
    color: white;
    border: 1px solid white;
}
