[data-bs-theme=dark] .Running, [data-bs-theme=dark] .Benchmarking, [data-bs-theme=dark] tr.Running td, [data-bs-theme=dark] tr.Benchmarking td {
    background-color: rgb(80, 121, 91) !important;
}

[data-bs-theme=dark] .Offline, [data-bs-theme=dark] tr.Offline td {
    background-color: rgb(189, 78, 78) !important;
}

[data-bs-theme=dark] .Paused, [data-bs-theme=dark] .Waiting, [data-bs-theme=dark] tr.Paused td, [data-bs-theme=dark] tr.Waiting td {
    background-color: rgb(145, 148, 101) !important;
}

[data-bs-theme=dark] .sidebar .nav-link {
    color: #AAA;
}

[data-bs-theme=dark] .h-selector:hover {
    color: #fff;
    background-color: rgba(255,255,255,.075);
}
