.Running, .Benchmarking, tr.Running td, tr.Benchmarking td {
    background-color: rgb(127,191,144)!important;
}

.Offline, tr.Offline td {
    background-color: rgb(213,142,176)!important;
}

.Paused, .Waiting, tr.Paused td, tr.Waiting td {
    background-color: rgb(247,252,168)!important;
}
