html,body,.form-control,.sidebar,table.table .detail-view,.page-list .btn {
    background: #f8f9fa!important;
    color: #343a40!important;
}

table.table {
    background:#fff;
}

.Running, .Benchmarking {
    background-color: rgb(127,191,144);
}

.Offline {
    background-color: rgb(213,142,176);
}

.Paused, .Waiting {
    background-color: rgb(247,252,168);
}

