<!--#include file="/parts/head.html" -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 id="title" data-navbaractive="navdonate" class="h2">Thank you for using RainbowMiner!</h1>
</div>

<h5 class="mt-4 h-selector" id="h-referalboxes">If you plan to sign up for any of the following services, you can support my work by using my referal links plus get some benefit yourself</h5>
<div id="referals" class="card-deck">
    <div class="mb-2 card {{if dark}}text-light bg-dark{{else}}text-dark bg-white{{/if}}">
        <div class="card-header text-center">
            <h5>Crypto.com</h5>
        </div>
        <div class="card-body text-center">
            <p class="card-text">
                Buy 45+ Coins at True Cost.
                No fees, No markups<br />
                Metal Visa Card with
                up to 5% back on all spending<br />
                Passive Interest:
                Earn up to 8% p.a. on your crypto<br />
                Credit:
                Deposit crypto, get an instant loan<br />
                Pay and be paid in crypto, anywhere, for free
            </p>
            <a href="https://platinum.crypto.com/r/9f35bdhcx8" title="Use my referal link to sign up at Crypto.com and we both get 50$"><img src="/images/cards-size.png" alt="" border="0" class="img-fluid" /></a>
        </div>
        <div class="card-footer text-center">
            <p class="card-text">
                <h5><a href="https://platinum.crypto.com/r/9f35bdhcx8" title="Use my referal link to sign up at Crypto.com and we both get 50$">Sign up with Crypto.com and earn us both 50$</a></h5>
                <br />
                .. or use my referal code <strong>9f35bdhcx8</strong> when installing their app
            </p>
        </div>
    </div>
</div>
<div id="referals2" class="card-deck">
    <div class="mb-2 card {{if dark}}text-light bg-dark{{else}}text-dark bg-white{{/if}}" style="min-width: 230px">
        <div class="card-header text-center">
            <h5>MiningRigRentals.com</h5>
        </div>
        <div class="card-body text-center">
            <p class="card-text">
                Rent hashpower or use RainbowMiner to increase your income by automatically offer your rig for rent.<br />
                Whether you're new and want to try mining out before you buy equipment or you're a veteran looking for more hash power at a coin launch, MiningRigRentals.com is your one stop website.
            </p>
            <a href="https://www.miningrigrentals.com/register?ref=2598069" title="Register now with MiningRigRentals.com"><img src="/images/mrr-logo.png" alt="" border="0" class="img-fluid" /></a>
        </div>
        <div class="card-footer text-center">
            <p class="card-text">
                <h5><a href="https://www.miningrigrentals.com/register?ref=2598069" title="Register now with MiningRigRentals.com">Register now at MiningRigRentals.com</a></h5>
                <br />
                .. if you register using my referal link, I will get a bonus of 0.1% for every transaction.
            </p>
        </div>
    </div>
    <div class="mb-2 card {{if dark}}text-light bg-dark{{else}}text-dark bg-white{{/if}}" style="min-width: 230px">
        <div class="card-header text-center">
            <h5>Binance.com</h5>
        </div>
        <div class="card-body text-center">
            <p class="card-text">
                The World's Leading
                Cryptocurrency Exchange<br />
                Trade Bitcoin, BNB, and hundreds of other cryptocurrencies in minutes.
            </p>
            <a href="https://www.binance.com/de/register?ref=GAV3FM60" title="Register now with Binance.com with my referal link and get us both 10%"><img src="/images/binance-logo.jpg" alt="" border="0" class="img-fluid" /></a>
        </div>
        <div class="card-footer text-center">
            <p class="card-text">
                <h5><a href="https://www.binance.com/de/register?ref=GAV3FM60" title="Register now with Binance.com with my referal link and get us both 10%">Register now at Binance.com</a></h5>
                <br />
                .. if you register using my referal link, we both will get 10%.
            </p>
        </div>
    </div>
</div>

<h5 class="mt-4 h-selector" id="h-donationboxes">If you want to support my work with a tip:</h5>
<div id="donationaddresses" class="card-deck">
    <div class="mb-2 card {{if dark}}text-light bg-dark{{else}}text-dark bg-white{{/if}}" style="min-width: 440px">
        <div class="card-header text-center">
            <h5>Bitcoin BTC</h5>
        </div>
        <div class="card-body text-center">
            <div class="input-group">
                <input type="text" class="form-control" value="3P7pVVNpExuuHL9wjWKAo7jzQsb9ZziUFC" id="copy-btc-input" readonly>
                <span class="input-group-btn">
                    <button class="btn btn-default btn-clipboard" type="button" id="copy-btc" title="Copy to Clipboard" aria-label="Left Align" data-toggle="tooltip" data-clipboard-action="copy" data-clipboard-target="#copy-btc-input">
                        <span class="fa fa-copy fa-lg" aria-hidden="true"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="mb-2 card {{if dark}}text-light bg-dark{{else}}text-dark bg-white{{/if}}" style="min-width: 440px">
        <div class="card-header text-center">
            <h5>BitcoinCash BCH</h5>
        </div>
        <div class="card-body text-center">
            <div class="input-group">
                <input type="text" class="form-control" value="1MGRzyaLjQ67ZwwL9QTbXzwLxa8x1qSTBD" id="copy-bch-input" readonly>
                <span class="input-group-btn">
                    <button class="btn btn-default btn-clipboard" type="button" id="copy-bch" title="Copy to Clipboard" aria-label="Left Align" data-toggle="tooltip" data-clipboard-action="copy" data-clipboard-target="#copy-bch-input">
                        <span class="fa fa-copy fa-lg" aria-hidden="true"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="mb-2 card {{if dark}}text-light bg-dark{{else}}text-dark bg-white{{/if}}" style="min-width: 440px">
        <div class="card-header text-center">
            <h5>Ethereum ETH</h5>
        </div>
        <div class="card-body text-center">
            <div class="input-group">
                <input type="text" class="form-control" value="0x3084A8657ccF9d21575e5dD8357A2DEAf1904ef6" id="copy-eth-input" readonly>
                <span class="input-group-btn">
                    <button class="btn btn-default btn-clipboard" type="button" id="copy-eth" title="Copy to Clipboard" aria-label="Left Align" data-toggle="tooltip" data-clipboard-action="copy" data-clipboard-target="#copy-eth-input">
                        <span class="fa fa-copy fa-lg" aria-hidden="true"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="mb-2 card {{if dark}}text-light bg-dark{{else}}text-dark bg-white{{/if}}" style="min-width: 440px">
        <div class="card-header text-center">
            <h5>Litecoin LTC</h5>
        </div>
        <div class="card-body text-center">
            <div class="input-group">
                <input type="text" class="form-control" value="MSYv5ojjwPJUX5ewoAkkH9c8b2TRu7zPGw" id="copy-ltc-input" readonly>
                <span class="input-group-btn">
                    <button class="btn btn-default btn-clipboard" type="button" id="copy-eth" title="Copy to Clipboard" aria-label="Left Align" data-toggle="tooltip" data-clipboard-action="copy" data-clipboard-target="#copy-ltc-input">
                        <span class="fa fa-copy fa-lg" aria-hidden="true"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="mb-2 card {{if dark}}text-light bg-dark{{else}}text-dark bg-white{{/if}}" style="min-width: 440px">
        <div class="card-header text-center">
            <h5>Monero XMR</h5>
        </div>
        <div class="card-body text-center">
            <div class="input-group">
                <input type="text" class="form-control" value="44UDqzf5aGZa5tis2BgJ3zLGhMttoQjPu1F5L1VtZGnAbKBao8h6enX1d9eop5p4HAPUv2xM4aLQjYy7cH1E1AnFSWmgNWQ" id="copy-xmr-input" readonly>
                <span class="input-group-btn">
                    <button class="btn btn-default btn-clipboard" type="button" id="copy-xmr" title="Copy to Clipboard" aria-label="Left Align" data-toggle="tooltip" data-clipboard-action="copy" data-clipboard-target="#copy-xmr-input">
                        <span class="fa fa-copy fa-lg" aria-hidden="true"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="mb-2 card {{if dark}}text-light bg-dark{{else}}text-dark bg-white{{/if}}" style="min-width: 440px">
        <div class="card-header text-center">
            <h5>Ravencoin RVN</h5>
        </div>
        <div class="card-body text-center">
            <div class="input-group">
                <input type="text" class="form-control" value="RYSdLhrkmpjtNGCyboRAs7g7hdujxYyeGc" id="copy-rvn-input" readonly>
                <span class="input-group-btn">
                    <button class="btn btn-default btn-clipboard" type="button" id="copy-rvn" title="Copy to Clipboard" aria-label="Left Align" data-toggle="tooltip" data-clipboard-action="copy" data-clipboard-target="#copy-rvn-input">
                        <span class="fa fa-copy fa-lg" aria-hidden="true"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="mb-2 card {{if dark}}text-light bg-dark{{else}}text-dark bg-white{{/if}}" style="min-width: 440px">
        <div class="card-header text-center">
            <h5>Tezos XTZ</h5>
        </div>
        <div class="card-body text-center">
            <div class="input-group">
                <input type="text" class="form-control" value="tz1PLTGErVSKkW3ysXLZW3Jvg7nnAh7wcvLV" id="copy-xtz-input" readonly>
                <span class="input-group-btn">
                    <button class="btn btn-default btn-clipboard" type="button" id="copy-xtz" title="Copy to Clipboard" aria-label="Left Align" data-toggle="tooltip" data-clipboard-action="copy" data-clipboard-target="#copy-xtz-input">
                        <span class="fa fa-copy fa-lg" aria-hidden="true"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="mb-2 card {{if dark}}text-light bg-dark{{else}}text-dark bg-white{{/if}}" style="min-width: 440px">
        <div class="card-header text-center">
            <h5><a href="https://platinum.crypto.com/r/9f35bdhcx8" title="Use my referal link to sign up at Crypto.com and we both get 50$">Crypto.com</a> CRO</h5>
        </div>
        <div class="card-body text-center">
            <div class="input-group">
                <input type="text" class="form-control" value="0xC15E980A0Fc94c913B0b0cCB613596f6125B7841" id="copy-cro-input" readonly>
                <span class="input-group-btn">
                    <button class="btn btn-default btn-clipboard" type="button" id="copy-cro" title="Copy to Clipboard" aria-label="Left Align" data-toggle="tooltip" data-clipboard-action="copy" data-clipboard-target="#copy-cro-input">
                        <span class="fa fa-copy fa-lg" aria-hidden="true"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
    var clipboard = new ClipboardJS('.btn-clipboard');
    clipboard.on('success', function(e) {
    e.clearSelection();
    $(e.trigger).trigger('copied', ['Copied!']);

    });
    clipboard.on('error', function(e) {
    $(e.trigger).trigger('copied', [fallbackMessage(e.action)]);
    });

    $('.btn-clipboard').bind('copied', function(e, message) {
    $(this).attr('data-original-title', message).tooltip('show').attr('data-original-title', "Copy to Clipboard");
    });
    });
</script>

<!--#include file="/parts/foot.html" -->